# Python Data Structures Part: 1 Working with Lists

### Day 04 of #100DaysofCode Python Edition 


follow along at https://jcutrer.com/100daysofcode

This is not meant to be a introductory or comprehensive python course.  I will skip around from basic concepts to sometimes complex ones.

Today's notebook will be all about python lists, one of several data structures [lists, tuples, sets, dicts]

Reference: https://docs.python.org/3/tutorial/datastructures.html

## Lists

Lists are the versatile type in Python group together items of values. A list is written as comma-separated values (items) between square brackets. Lists can contain items of different types - more about lists here https://docs.python.org/3.7/tutorial/introduction.html#lists

In [1]:
mylist = [10,20,30,40,50,60,70,80,100]
days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

In [2]:
mylist

[10, 20, 30, 40, 50, 60, 70, 80, 100]

`len()` works as expected on a list

In [3]:
len(mylist)

9

A list of strings

In [4]:
days

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

Lists can contain an mix of types

In [17]:
person = ["John", "Doe", 23, "Texas", 73301, 30.21970, -97.74726]
print(type(person))
print(person)
print()
for i in person:
    print(type(i), i)

<class 'list'>
['John', 'Doe', 23, 'Texas', 73301, 30.2197, -97.74726]

<class 'str'> John
<class 'str'> Doe
<class 'int'> 23
<class 'str'> Texas
<class 'int'> 73301
<class 'float'> 30.2197
<class 'float'> -97.74726

Access values in a list by index

In [18]:
person[0] # get first item

'John'

Negative index start from the end of the list

In [19]:
person[-1] # get last item

-97.74726

Access an index out of range raises an IndexError

In [20]:
person[10]

IndexError: list index out of range

So far we have not talk about expection handling but we can use `try:` to test for this error

In [21]:
try:
    person[10]
except:
  print("An exception occurred")

An exception occurred

We can see in #10 that the exception is an `IndexError` we can catch that specific error as well.

In [22]:
try:
    person[10]
except IndexError:
  print("Oops!  That was no valid index.  Try again...")
except:
  print("Something else went wrong")

Oops!  That was no valid index.  Try again...

Access a range of values in a list using slicing

In [23]:
person[:2] # returns list of first and last name

['John', 'Doe']

List slicing with Negative indexes

In [24]:
person[-2:] # get only last two items (lat long)

[30.2197, -97.74726]

`.append()` adds items to the end of a list

In [25]:
person.append('Male')
person

['John', 'Doe', 23, 'Texas', 73301, 30.2197, -97.74726, 'Male']

`.insert()` adds item to the beginning of a list

In [26]:
person.insert(0, 'Mr')
person

['Mr', 'John', 'Doe', 23, 'Texas', 73301, 30.2197, -97.74726, 'Male']

### Next, lets look at extending and combining lists

You can use the `+` operator to combine two lists and return a list

In [43]:
colors = ['red', 'green', 'blue']
more_colors = ['yellow', 'purple', 'orange']
all_colors = colors + more_colors

print(colors)
print(more_colors)
print(all_colors)

['red', 'green', 'blue']
['yellow', 'purple', 'orange']
['red', 'green', 'blue', 'yellow', 'purple', 'orange']

`.extend()` will also combine lists but it is performed inplace on the first list

In [44]:
colors.extend(more_colors)
colors

['red', 'green', 'blue', 'yellow', 'purple', 'orange']

### Removing items from a list

In [46]:
colors.pop() # last item in list is return and removed

'yellow'

printing the list again proves that yellow was indeed removed

In [47]:
colors

['blue', 'green', 'orange', 'purple', 'red']

### Sorting lists

`.sort()` will alpha sort the list but not return anything

In [45]:
colors.sort()
colors

['blue', 'green', 'orange', 'purple', 'red', 'yellow']

reverse sorting

In [49]:
colors.sort(reverse=True)
colors

['red', 'purple', 'orange', 'green', 'blue']

Sorting without modifiying the original list

In [52]:
colors = ['red', 'green', 'blue', 'yellow', 'purple', 'orange']
sorted_colors = sorted(colors) # sorted returns a new list and does not modify colors

print(colors)
print(sorted_colors)

['red', 'green', 'blue', 'yellow', 'purple', 'orange']
['blue', 'green', 'orange', 'purple', 'red', 'yellow']

### min, max, sum functions

In [1]:
min?

In [53]:
nums = [12, 43, 54, 64, 11, 34, 22, 5, 8]

Find the min value

In [60]:
min(nums)

5

Find the max value

In [57]:
max(nums)

64

Find the sum of all values

In [58]:
sum(nums)

253

Find the average

In [62]:
avg = sum(nums)/len(nums)
avg

28.11111111111111

### Searching in lists

In [70]:
names = ['Bob', 'Jane', 'Susan', 'Fred', 'John', 'Mark', 'Mary']

Test using the `in` keyword

In [71]:
'Mary' in names

True

Testing for a value in an if statement

In [75]:
if 'John' in names:
    print('John is present')

John is present

Testing if value is not in a list

In [77]:
if 'Frank' not in names:
    print('Frank is not present')

Frank is not present

Search with `.index()`

In [79]:
names.index('Jane') # returns index of item in list

1

### Converting Lists to Strings and Strings to Lists

Flatten a list into a comma seperated string

In [81]:
names_str = ', '.join(names)
names_str

'Bob, Jane, Susan, Fred, John, Mark, Mary'

Convert from comma seperated string back to a list

In [82]:
new_names = names_str.split(', ')
new_names

['Bob', 'Jane', 'Susan', 'Fred', 'John', 'Mark', 'Mary']

### Looping through lists

In [3]:
days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

for day in days:
    print(day)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

To add a little humor lets print only days that end in y

In [4]:
for day in days:
    if day[-1] == 'y':
        print(day)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

Lets do that again but with months

In [14]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 
          'August', 'September', 'October', 'November', 'December']

for month in months:
    if month[-1] == 'y':
        print(month)

January
February
May
July

*"Shifting gear a bit, let's build a function"*

This function will looped through the passed *(first argument)* list and build and return a new list
that ends with the passed letter *(second argument)*.

In [13]:
def ends_in(target_list, letter):
    new_list = []
    for i in target_list:
        if i[-1] == letter:
            new_list.append(i)
    return new_list
   
# months that end in y
print(ends_in(months, 'y'))

# months that end in r
print(ends_in(months, 'r'))

['January', 'February', 'May', 'July']
['September', 'October', 'November', 'December']

That's it for Day #4 of #100DaysofCode!